<script>
    // Function to toggle theme
    const toggleTheme = () => {
      let html = document.querySelector("html");
      let themeToggle = document.querySelector(".theme-toggle");
      let theme = window.localStorage.getItem("theme");

      if (theme === "dark") {
        html.classList.remove("dark");
        themeToggle.classList.remove("fa-sun");
        themeToggle.classList.add("fa-moon");
        window.localStorage.setItem("theme", "light");
      } else {
        html.classList.add("dark");
        themeToggle.classList.add("fa-sun");
        themeToggle.classList.remove("fa-moon");
        window.localStorage.setItem("theme", "dark");
      }
    };

    // Function to set initial theme on page load
    const setInitialTheme = () => {
      let html = document.querySelector("html");
      let themeToggle = document.querySelector(".theme-toggle");
      let theme = window.localStorage.getItem("theme");

      if (theme === "dark") {
        html.classList.add("dark");
        themeToggle.classList.add("fa-sun");
      } else {
        themeToggle.classList.add("fa-moon");
      }
    };

    // Attach event listener for theme toggle
    document.addEventListener("DOMContentLoaded", function() {
      setInitialTheme();
      document.querySelector(".theme-toggle").addEventListener("click", toggleTheme);
    });
</script>
